<div class="contentMain container-fluid pt-3" style="background-color:rgb(52, 68, 71)">
    <div class="fullWidth">
        <header class="page-header d-flex px-2">
            <img src="https://www.iconfinder.com/data/icons/logos-and-brands/512/318_Stack_Overflow_logo-512.png" style="width:30px;height:30px;">
            <h4 class="page-Title fw-1000" style="color: rgb(0, 0, 0);"> Stack Boat </h4>
            <div class="col-md-8">
                <div class=" form-group row">
                    <label class="col-sm-1">Products</label>
                    <div class="col-sm-7">
                        <input type="text" placeholder="search...." id="question" [(ngModel)]="question.title" class=" form-control " (keyup)="questionSearch($event) ">
                    </div>
                </div>
            </div>

            <button type="button " class="btn btn-secondary sl-1 " (click)="onSearch() "> Load Top Questions</button>

            <div class="col-sm-1">
                <a href="https://stackoverflow.com/questions/ask">
                    <button type="button " class="btn btn-secondary sl-1  ">Ask Questions</button>
                </a>
            </div>
        </header>
        <div class="content-main radius-2 p-2 ">
            <div class="row ">
                <div class="col-md-3 p-3 " style="background-color:rgb(71, 109, 109) ">
                    <div>
                        <form class="form-horizontal ">
                            <div class="table-box table-fullwidth pt-3 " style="flex-basis:100% ">
                                <div class="table-responsive ">
                                    <table class="table table-hover table-striped table-bordered table-sm ">
                                        <thead class="thead-dark ">
                                            <tr>
                                                <th>Tags</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let displayItem of questionArr ; let i=index; " (change)="questionSearch(event) ">

                                                <td>
                                                    <a href="{{displayItem.link}} ">{{displayItem.tags }}     
                                                </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-9 " style="background-color:cornsilk ">
                    <div class="table-box table-fullwidth pt-3 " style="flex-basis:100% ">
                        <div class="table-responsive ">
                            <table class="table table-hover table-striped table-bordered table-sm ">
                                <thead class="thead-dark ">
                                    <tr>
                                        <th>Question</th>
                                        <th>No of Answers</th>
                                        <th>Asked By</th>
                                        <th>Link</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let displayItem of topQuest ; let i=index; " (change)="questionSearch(event) ">
                                        <td>{{displayItem.title }}</td>
                                        <td>{{displayItem.answer_count}}</td>
                                        <td>{{displayItem.owner.display_name}}</td>
                                        <td>
                                            <a href="{{displayItem.link}} ">click here     
                                        </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>